{%extends "navbar.html"%}
{%block content%}

<div class="row">
    <div class="col-sm-auto col-md-auto col-lg-8 mb-4">
        <div class="container border shadow">
            <div class="text-center">

                
                <h3 class="card-title mt-4">{{data["title"]}}</h3>
                        
                <h6 class=" mb-2 text-muted mb-4">{{data["date"]}}</h6>

                <img src="{{url_for('static',filename='images/'+ data['blogid'])}}" class="img-fluid rounded mb-4" alt="Responsive image">
                
                <div class="text-left">
                    
                    {{data["post"]}}
                </div>
                        
            </div>
        </div>

    </div>
    
    <div class="col-sm col-md col-lg-4" >
        <h1>Side panel</h1>
        <p>Some features</p>
        <hr>
    </div>
</div>

{%endblock content%}