{%extends "navbar.html"%}
{%block content%}

<div class="container">
  <h2>Admin Pannel</h2>
  <form class="form-signin" action="" method="POST"  enctype="multipart/form-data" >
    {{ form["admin_pannel"].hidden_tag() }}
    {{form["admin_pannel"].logout(class="btn btn-sm btn-primary btn-block",style="width:100px;")}}
</form>
  <br>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#blogs">Blogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#portfolio">Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#about">About</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="blogs" class="container tab-pane active"><br>
      <h3>New Blog</h3>
      <form class="form-signin" action="" method="POST" enctype="multipart/form-data">
        {{ form["blog_form"].hidden_tag() }}
         <fieldset class="form-group">
            {% if form["blog_form"].title.errors %}
                {{form["blog_form"].title(class="form-control form-control-md mb-2 is-invalid",placeholder="Title")}}
                <div class="invalid-feedback">
                {% for error in form[1].title.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
            {% else%}
                {{form["blog_form"].title(class="form-control form-control-md mb-3",placeholder="Title")}}
            {% endif %}    
        
            
            <div class="row mb-2">
              <div class="col">
                {{ form["blog_form"].day.label(class="h5") }}
                {{ form["blog_form"].day(class="custom-select",**{"onchange":"getCategories()"}) }}
              </div>
              
              <div class="col">
                {{ form["blog_form"].month.label(class="h5") }}
                {{ form["blog_form"].month(class="custom-select",**{"onchange":"getCategories()"}) }}
              </div>
              <div class="col">
                {{ form["blog_form"].year.label(class="h5") }}
                {{ form["blog_form"].year(class="custom-select",**{"onchange":"getCategories()"}) }}
              </div>
            </div>
            
            <div class="row">
              <div class="col">
                {{form["blog_form"].autodate(class="custom-control custom-checkbox mb-4")}}
              </div>
              
            </div>
            
            <div class="row">
              <div class="col">
                {% if form["blog_form"].post.errors %}
                {{form["blog_form"].post(class="form-control ",placeholder="Blog Post",style="height:300px;")}}
                <div class="invalid-feedback">
                {% for error in form["blog_form"].post.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                </div>
                {% else%}
                  {{form["blog_form"].post(class="form-control form-control-md mb-2 ",placeholder="Blog Post",style="height:300px;")}}
                {% endif %}  
              </div>
            </div>
          
            <hr>
          
            <div class="row">
              <div class="col">
                {% if form["blog_form"].username.errors %}
                {{form[1].username(class="form-control form-control-md mb-2 is-invalid",placeholder="Username")}}
                <div class="invalid-feedback">
                  {% for error in form["blog_form"].username.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                </div>
                
                {% else%}
                  {{form["blog_form"].username(class="form-control form-control-md mb-2 ",placeholder="Username")}}
                {% endif %}    
            
              </div>

              <div class="col">
                {% if form["blog_form"].password.errors %}
                  {{form["blog_form"].password(class="form-control form-control-md mb-2 is-invalid",placeholder="Password")}}
                  <div class="invalid-feedback">
                  {% for error in form["blog_form"].password.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
                  </div>
                {% else%}
                  {{form["blog_form"].password(class="form-control form-control-md mb-2 ",placeholder="Password")}}
                {% endif %}
  
              </div>
              
            </div>
          </fieldset>
          {{form["blog_form"].submit(class="btn btn-md btn-primary btn-block")}}
          <hr>
          
      </form>
    
    
    </div>
    
    
    <div id="portfolio" class="container tab-pane fade"><br>
      <h3>Add In Portfolio</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="about" class="container tab-pane fade"><br>
      <h3>Edit About</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>

{%endblock content%}