{%extends "blogs.html"%}
{%block blogcard%}

    {%for i in range(10)%}    
        <div class="row">
                <div class="card shadow" style="width: 95%;">
                    <div class="card-body">
                        <a href="/blogs/uniquelink"><h5 class="card-title mb-0">How to install python3.8 in linux</h5></a>
                        
                        <h6 class=" mb-2 text-muted">May,13,2020</h6>
    
                        <p class="card-text mb-1">
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            Some quick example text to build on the card title and make up the bulk of the card's content.
                            <a href="#" class="card-link">more...</a>        
                        </p>
                        
                    </div>
                </div>
            
        <!-- end row -->
        </div>
        
        <hr style="width: 70%;">    
        
    {%endfor%}

{%endblock blogcard%}