{%extends "navbar.html"%}
{%block content%}

<div class="row">
    <div class="col-sm-auto col-md-auto col-lg-8 mb-4">
        <div class="container border shadow">
            <div class="text-center">

                
                <h3 class="card-title mt-4">How to install python3.8 in linux</h3>
                        
                <h6 class=" mb-2 text-muted mb-4">May,13,2020</h6>

                <p class="card-text mb-4">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                    
                </p>
                        
            </div>
        </div>

    </div>
    
    <div class="col-sm col-md col-lg-4 text-left">
        <h3 class="h3 text-center mb-1">side pannel</h3>                        

    </div>
</div>

{%endblock content%}