<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" >

        {%if title%}
            <title>{{title}}</title>
        {%else%}
            <title>WithSJ</title>
        {%endif%}
  </head>
  
  <body >
      {%block navbar%}
      {%endblock navbar%}

      {% with messages =get_flashed_messages(with_categories=true) %}
        {% if messages%}
            {% for category, message in messages%}
                <div class="alert alert-{{category}}" role="{{category}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}
    
      {% endwith %}

      <div class="container p-3" >
        {%block content%}
        {%endblock content%}

      </div>
      
      <div class="shadow" style="text-align: center; background-color: rgb(230, 213, 215);">
        <hr>
        <p style="color:black;">&copy; WithSJ 2020</p>
        <hr>
      </div>
    
    <!-- Icons -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!-- Optional JavaScript -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>

