<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" >

        {%if title%}
            <title>{{title}}</title>
        {%else%}
            <title>WithSJ</title>
        {%endif%}
  </head>
  
  <body>
      {%block navbar%}
      {%endblock navbar%}
  
      <div class="container p-2">
        {%block content%}
        {%endblock content%}

      </div>
      
    
    <!-- Icons -->
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <!-- Optional JavaScript -->
    <script src="{{url_for('static',filename='js/bootstrap.min.js')}}"></script>
  </body>
</html>

